[submodule "Computer-Architecture"]
	path = Computer-Architecture
	url = https://github.com/Itsbeenalongday/Computer-Architecture.git
[submodule "Operating-System"]
	path = Operating-System
	url = https://github.com/Itsbeenalongday/Operating-System.git
[submodule "BLESSROOM"]
	path = BLESSROOM
	url = https://github.com/Itsbeenalongday/BLESSROOM.git
[submodule "System-Programming"]
	path = System-Programming
	url = git@github.com:ZeroOnePro/System-Programming.git
