[submodule "Computer-Architecture"]
	path = Computer-Architecture
	url = https://github.com/Itsbeenalongday/Computer-Architecture.git
[submodule "Operating-System"]
	path = Operating-System
	url = https://github.com/Itsbeenalongday/Operating-System.git
[submodule "System_programming"]
	path = System_programming
	url = https://github.com/Itsbeenalongday/System_programming.git
